body {
  margin: 0;
  height: 100vh;
  background: #0b0f1a;
  background-size: cover;
  overflow: hidden;
}

#player {
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 50%;
  position: absolute;
  top: 623px;
  left: 22px;
  
}

#Platform1 {
  width: 136px;
  height: 16px;
  top: 611px;
  left: 443px;
  position: absolute;
  background-image: url("sand\ platform\ 1.png");
  background-size: auto;
  background-repeat: no-repeat;
  opacity: 90%;
  
}



#Platform2 {
  width: 25px;
  height: 25px;
  top: 587px;
  left: 630px;
  position: absolute;
  background-image: url("sand\ platform\ 2.png");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 90%;
}

#Platform3 {
  width: 25px;
  height: 25px;
  top: 546px;
  left: 696px;
  position: absolute;
  background-image: url("sand\ platform\ 2.png");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 90%;
}

#Platform4 {
  width: 25px;
  height: 25px;
  top: 505px;
  left: 760px;
  position: absolute;
  background-image: url("sand\ platform\ 2.png");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 90%;
}

#Platform5 {
  width: 25px;
  height: 25px;
  top: 464px;
  left: 824px;
  position: absolute;
  background-image: url("sand\ platform\ 2.png");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 90%;
}


.parallax-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.parallax-layer{
  position:absolute;
  inset:0;
  background-repeat: repeat-x;
  background-position: 0 50%;
  background-size: auto 100%;
  will-change: background-position;
  pointer-events:none;
}
